@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.body {
    display: block;
    line-break: strict;
    white-space: pre-wrap
    }
.c {
    color: #000
    }
.c1 {
    color: #232323
    }
.calibre {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 42.518em
    }
.calibre2 {
    height: auto;
    width: 42.518em
    }
.calibre3 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 0;
    padding-top: 0
    }
.calibre4 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%
    }
.calibre5 {
    display: inline-block;
    float: left;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 2.5641%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 32.455em
    }
.calibre6 {
    height: auto;
    width: 32.455em
    }
.calibre7 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 16.503em
    }
.calibre8 {
    height: auto;
    width: 16.503em
    }
.calibre9 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 26.769em
    }
.calibre10 {
    height: auto;
    width: 26.769em
    }
.calibre11 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 14.37em
    }
.calibre12 {
    height: auto;
    width: 14.37em
    }
.calibre13 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 20.41em
    }
.calibre14 {
    height: auto;
    width: 20.41em
    }
.calibre15 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 12.756em
    }
.calibre16 {
    height: auto;
    width: 12.756em
    }
.calibre17 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 46.8em
    }
.calibre18 {
    height: auto;
    width: 46.8em
    }
.calibre19 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 8.615em
    }
.calibre20 {
    height: auto;
    width: 8.615em
    }
.calibre21 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 19.113em
    }
.calibre22 {
    height: auto;
    width: 19.113em
    }
.calibre23 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 14.409em
    }
.calibre24 {
    height: auto;
    width: 14.409em
    }
.calibre25 {
    display: inline-block;
    margin-bottom: 2.5641%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2.5641%;
    text-indent: 0;
    vertical-align: baseline;
    width: 42.636em
    }
.calibre26 {
    height: auto;
    width: 42.636em
    }
.s {
    -webkit-hyphens: none;
    color: #444;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 1.7077%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: -1.7077%;
    text-transform: none
    }
.s1 {
    -webkit-hyphens: none;
    color: #232323;
    display: block;
    font-family: "Helvetica Neue Medium";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-indent: 0%;
    text-transform: none
    }
.s2 {
    -webkit-hyphens: none;
    color: #232323;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 2.5641%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none
    }
.s3 {
    -webkit-hyphens: none;
    color: #232323;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 2.5641%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none
    }
.s4 {
    -webkit-hyphens: none;
    color: #444;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: -0.01em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none
    }
.s5 {
    -webkit-hyphens: none;
    color: #000;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-indent: 0%;
    text-transform: none
    }
.s6 {
    -webkit-hyphens: none;
    color: #000;
    display: list-item;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-left: 3.8462%;
    padding-right: 0%;
    text-align: left;
    text-indent: -3.8462%;
    text-transform: none
    }
.s7 {
    -webkit-hyphens: none;
    color: #444;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: -0.01em;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none
    }
.s8 {
    -webkit-hyphens: none;
    color: #232323;
    display: list-item;
    font-family: "Helvetica Neue Medium";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-left: 3.8462%;
    padding-right: 0%;
    text-align: left;
    text-indent: -3.8462%;
    text-transform: none
    }
.s9 {
    -webkit-hyphens: none;
    color: #232323;
    display: list-item;
    font-family: "Helvetica Neue Medium";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-left: 11.5385%;
    padding-right: 0%;
    text-align: left;
    text-indent: -3.8462%;
    text-transform: none
    }
.s10 {
    -webkit-hyphens: none;
    break-after: page;
    color: #000;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    page-break-after: always;
    text-align: left;
    text-indent: 0%;
    text-transform: none
    }
.s11 {
    -webkit-hyphens: none;
    color: #232323;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 2.5641%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-indent: 0%;
    text-transform: none
    }
.s12 {
    -webkit-hyphens: none;
    color: #7A7A7A;
    display: block;
    font-family: "Helvetica Neue Medium";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-indent: 0%;
    text-transform: none
    }
.s13 {
    -webkit-hyphens: none;
    color: #000;
    display: list-item;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-left: 2.1368%;
    padding-right: 0%;
    text-align: left;
    text-indent: -2.1368%;
    text-transform: none
    }
.s14 {
    -webkit-hyphens: none;
    color: #444;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: -0.01em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none
    }
.s15 {
    -webkit-hyphens: none;
    color: #000;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none
    }
.s16 {
    -webkit-hyphens: none;
    color: #000;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none
    }
.pcalibre1:before {
    color: #232323;
    content: "";
    font-family: "Helvetica Neue Medium";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-right: -3.5px;
    padding-right: 2.1%
    }
.pcalibre2:before {
    color: #232323;
    content: "";
    font-family: "Helvetica Neue Medium";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-right: -3.5px;
    padding-right: 2.3%
    }
.pcalibre3:before {
    color: #232323;
    content: "";
    font-family: "Helvetica Neue Medium";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-right: -3.5px;
    padding-right: 0.9%
    }
.pcalibre4:before {
    color: #000;
    content: "";
    font-family: "Helvetica Neue";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-right: -3.5px;
    padding-right: 0.8%
    }
.pcalibre:before {
    color: #000;
    content: "";
    font-family: "Helvetica Neue";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-right: -3.5px;
    padding-right: 2.6%
    }

