@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.body {
    display: block;
    line-break: strict;
    white-space: pre-wrap
    }
.c {
    color: #000
    }
.c1 {
    font-weight: bold
    }
.c2 {
    color: #232323;
    text-decoration: underline
    }
.c3 {
    color: #232323
    }
.calibre {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: inline-block;
    margin-bottom: 2.6%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.6%;
    text-indent: 0;
    vertical-align: baseline;
    width: 42.6em
    }
.calibre2 {
    height: auto;
    width: 42.6em
    }
.calibre3 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 0;
    padding-top: 0
    }
.calibre4 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre5 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 37.9em
    }
.calibre6 {
    height: auto;
    width: 37.9em
    }
.calibre7 {
    text-decoration: none
    }
.calibre8 {
    display: inline-block;
    margin-bottom: 2.6%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.6%;
    text-indent: 0;
    vertical-align: baseline;
    width: 35.5em
    }
.calibre9 {
    height: auto;
    width: 35.5em
    }
.calibre10 {
    display: block
    }
.calibre11 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 24.8em
    }
.calibre12 {
    height: auto;
    width: 24.8em
    }
.calibre13 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 26.8em
    }
.calibre14 {
    height: auto;
    width: 26.8em
    }
.calibre15 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 14.3em
    }
.calibre16 {
    height: auto;
    width: 14.3em
    }
.calibre17 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 18.6em
    }
.calibre18 {
    height: auto;
    width: 18.6em
    }
.calibre19 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 10.1em
    }
.calibre20 {
    height: auto;
    width: 10.1em
    }
.calibre21 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 21.3em
    }
.calibre22 {
    height: auto;
    width: 21.3em
    }
.calibre23 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 21.5em
    }
.calibre24 {
    height: auto;
    width: 21.5em
    }
.calibre25 {
    display: inline-block;
    margin-bottom: 2.6%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.6%;
    text-indent: 0;
    vertical-align: baseline;
    width: 42.5em
    }
.calibre26 {
    height: auto;
    width: 42.5em
    }
.calibre27 {
    display: inline-block;
    margin-bottom: 2.6%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.6%;
    text-indent: 0;
    vertical-align: baseline;
    width: 11.4em
    }
.calibre28 {
    height: auto;
    width: 11.4em
    }
.calibre29 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 42.5em
    }
.calibre30 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 29.6em
    }
.calibre31 {
    height: auto;
    width: 29.6em
    }
.calibre32 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 21.2em
    }
.calibre33 {
    height: auto;
    width: 21.2em
    }
.calibre34 {
    display: inline-block;
    margin-bottom: 2.6%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.6%;
    text-indent: 0;
    vertical-align: baseline;
    width: 19.1em
    }
.calibre35 {
    height: auto;
    width: 19.1em
    }
.calibre36 {
    display: inline-block;
    text-indent: 0;
    vertical-align: baseline;
    width: 30.2em
    }
.calibre37 {
    height: auto;
    width: 30.2em
    }
.p {
    -webkit-hyphens: none;
    color: #444;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1.7%;
    padding-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: -1.7%;
    text-transform: none
    }
.p1 {
    -webkit-hyphens: none;
    color: #232323;
    display: block;
    font-family: "Helvetica Neue Medium";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 0;
    text-transform: none
    }
.p2 {
    -webkit-hyphens: none;
    color: #232323;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 2.6%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none
    }
.p3 {
    -webkit-hyphens: none;
    color: #444;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none
    }
.p4 {
    -webkit-hyphens: none;
    color: #000;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 0;
    text-transform: none
    }
.p5 {
    -webkit-hyphens: none;
    color: #000;
    display: list-item;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 3.8%;
    padding-right: 0;
    text-align: left;
    text-indent: -3.8%;
    text-transform: none
    }
.p6 {
    -webkit-hyphens: none;
    color: #444;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 0;
    text-transform: none
    }
.p7 {
    -webkit-hyphens: none;
    color: #000;
    display: list-item;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 3.8%;
    padding-right: 0;
    text-align: left;
    text-indent: -3.8%;
    text-transform: none
    }
.p8 {
    -webkit-hyphens: none;
    color: #000;
    display: list-item;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 11.5%;
    padding-right: 0;
    text-align: left;
    text-indent: -3.8%;
    text-transform: none
    }
.p9 {
    -webkit-hyphens: none;
    break-after: page;
    color: #000;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    page-break-after: always;
    text-align: left;
    text-indent: 0;
    text-transform: none
    }
.p10 {
    -webkit-hyphens: none;
    color: #000;
    display: list-item;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 2.1%;
    padding-right: 0;
    text-align: left;
    text-indent: -2.1%;
    text-transform: none
    }
.p11 {
    -webkit-hyphens: none;
    color: #444;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none
    }
.p12 {
    -webkit-hyphens: none;
    color: #232323;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 2.6%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: 0;
    text-transform: none
    }
.p13 {
    -webkit-hyphens: none;
    color: #000;
    display: list-item;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 4.3%;
    padding-right: 0;
    text-align: left;
    text-indent: -2.1%;
    text-transform: none
    }
.p14 {
    -webkit-hyphens: none;
    color: #232323;
    display: list-item;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 2.6%;
    margin-top: 0;
    padding-left: 4.2%;
    padding-right: 0;
    text-align: left;
    text-indent: -4.2%;
    text-transform: none
    }
.p15 {
    -webkit-hyphens: none;
    color: #000;
    display: block;
    font-family: "Helvetica Neue";
    font-size: 0.70588em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none
    }
.pcalibre1:before {
    color: #000;
    content: "";
    font-family: "Helvetica Neue";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-left: -0.3em;
    padding-left: 2.1%
    }
.pcalibre2:before {
    color: #000;
    content: "";
    font-family: "Helvetica Neue";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-left: -0.3em;
    padding-left: 2.3%
    }
.pcalibre3:before {
    color: #000;
    content: "";
    font-family: "Helvetica Neue";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-left: -0.3em;
    padding-left: 0.9%
    }
.pcalibre4:before {
    color: #000;
    content: "";
    font-family: "Helvetica Neue";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-left: -0.3em;
    padding-left: 1.4%
    }
.pcalibre5:before {
    color: #000;
    content: "";
    font-family: "Helvetica Neue";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-left: -0.3em;
    padding-left: 1.5%
    }
.pcalibre6:before {
    color: #232323;
    content: "";
    font-family: "Helvetica Neue";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-left: -0.3em;
    padding-left: 2.4%
    }
.pcalibre:before {
    color: #000;
    content: "";
    font-family: "Helvetica Neue";
    font-size: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-left: -0.3em;
    padding-left: 3.2%
    }

