
.DS_STORE
*~

# build products
dist
node_modules
app/build

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# vscode
.vscode

#
package-lock.json
