
.DS_STORE
*~

# build products
dist
node_modules
app/build

# generated help files (source is in docs/help/)
app/help/index.html
app/help/style.css
app/help/images/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# vscode
.vscode

