
.DS_STORE
*~

# build products  (the 'build' dir is wrong, we need to rename it)
dist
build
node_modules

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript
